@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using System.Text.Json
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!------------------------------------ Themes ------------------------------------>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/content/images/favicon.ico">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <!-- Font Awesome theme -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="~/lib/devextreme-dist/css/dx.fluent.blue.dark.compact.min.css" asp-fallback-href="~/lib/devextreme-dist/css/dx.material.blue.dark.compact.min.css" asp-append-version="true" />
    <!-- App theme -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!------------------------------------ Libraries ------------------------------------>
    <!-- Axios library -->
    <script type="text/javascript" src="~/lib/axios/axios.min.js" asp-append-version="true"></script>
    <!-- Bootstrap library -->
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!-- Font Awesome library -->
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js" data-auto-replace-svg="nest" asp-append-version="true"></script>
    <!-- Excel xlsx library -->
    <script type="text/javascript" src="~/lib/xlsx/xlsx.full.min.js" asp-append-version="true"></script>
    <!-- Jquery library -->
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <!-- Jquery validate library -->
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <!-- Moment.js library -->
    <script type="text/javascript" src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <!-- DevExtreme library -->
    <environment include="Development">
        <script type="text/javascript" src="~/lib/devextreme-dist/js/dx.all.debug.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/devextreme-dist/js/dx.all.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        const isUserLogedIn = @Html.Raw(JsonSerializer.Serialize(User.Identity?.IsAuthenticated)); // Kiểm tra người dùng đăng nhập hay chưa
        const userName = @Html.Raw(JsonSerializer.Serialize(User.Identity?.Name)); // Lấy tên người dùng đăng nhập
        const navbar_Title = @Html.Raw(JsonSerializer.Serialize(ViewData["Title"])); // Lấy tiêu đề view hiện tại
    </script>
</head>
<body class="dx-viewport">
    <header>
        <nav id="navbarApp" class="navbar navbar-expand py-0 navbar-dark fixed-top d-flex justify-content-between">
            @* Menu *@
            @* <div id="dropdownbtn_MenuApp"></div> *@
            <div class="nav-item dropdown" data-bs-theme="dark">
                <button id="dropdownbtn_MenuApp" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    <i class="fa-solid fa-bars"></i> @ViewData["Title"]<span id="notifyText" />
                </button>
                <ul class="dropdown-menu overflow-auto">
                    <li><h5 class="dropdown-header"><i class="fa-solid fa-house-chimney"></i> Trang chủ</h5></li>
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-car-side"></i> Về trang chủ</a>
                    </li>
                    <li><h5 class="dropdown-header"><i class="fa-regular fa-compass"></i> Menu ứng dụng</h5></li>
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-map-location-dot"></i> Menu con 1</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-map-location-dot"></i> Menu con 2</a>
                    </li>
                </ul>
            </div>
            @* Clock *@
            @* <div id="dropdownbtn_DigitalClock"></div> *@
            <div class="nav-item dropdown" data-bs-theme="dark">
                <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    <i class="fa-regular fa-clock"></i> <span id="info_DigitalClock"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end overflow-auto">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-door-open"></i> Đăng xuất</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="mainContent" role="main" class="container-fluid">
        <div id="appLoadingPanel"></div>
        @RenderBody()
    </main>

    <!-- App library -->
    <script type="text/javascript" src="~/js/WebAppManager-Base.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
