@model ErrorViewModel
@{
    ViewData["Title"] = "😱 Lỗi !!!";
}

<h1 class="text-danger">😭 Ôi không, đã xảy ra lỗi khi thực hiện yêu cầu !!!</h1>

@if (Model.ShowRequestId)
{
    <p><strong>👉 ID yêu cầu:</strong> <code>@Model.RequestId</code></p>
}

<h2>🕵 Mô tả lỗi (Message): <span style="font-weight:normal;">@Model.Message</span></h2>
<h4>🔎 Ngăn xếp lệnh (StackTrace): <span style="font-weight:lighter;">@Model.StackTrace</span></h4>
<h4>🔎 Ngoại lệ bên trong (InnerException): <span style="font-weight:lighter;">@Model.InnerException</span></h4>
<h4>🔎 Phương thức (TargetSite): <span style="font-weight:lighter;">@Model.TargetSite</span></h4>
<h4>🔎 Dữ liệu (Data): <span style="font-weight:lighter;">@Model.Data</span></h4>
<h4>🔎 Nguồn (Source): <span style="font-weight:lighter;">@Model.Source</span></h4>
<h4>🔎 Mã ngoại lệ (HResult): <span style="font-weight:lighter;">@Model.HResult</span></h4>
<h4>🔎 URL tài liệu trợ giúp (HelpLink): <span style="font-weight:lighter;">@Model.HelpLink</span></h4>
